.card {
  background: #6d67d0;
  max-width: 32rem;
  height: 30rem;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.card::-webkit-scrollbar {
  width: 4px;
}

.card::-webkit-scrollbar-track {
  background: transparent;
}

.card::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 238);
  border-radius: 2px;
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content .item img {
  box-sizing: initial;
  width: 3rem;
  border-radius: 50%;
  border: 0.5px solid #818183;
  outline: 0.5px solid #ffffff;
}

.item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item:hover {
  background: rgba(161, 159, 221, 0.6);
  cursor: pointer;
}

.item h2 {
  color: #ffffff;
  font-weight: 700;
}

.item p {
  color: #c0b9b9;
  font-size: 1rem;
  font-weight: 400;
}

.item small {
  color: #c0b9b9;
}

.solid {
  border-top: 0.5px solid #75757515;
}

@media screen and (max-width: 425px) {
  .card {
    height: 25rem;
    max-width: 30rem;
  }
}

@media screen and (min-width: 759px) {
  .card {
    max-width: 40rem;
  }
}

@media screen and (width: 430px) {
  .card {
    max-width: 30rem;
  }
}

@media screen and (width >= 425px) and (width<= 758px) {
  .card {
    max-width: 40rem;
  }
}

@media screen and (width < 425px) and (width > 340px) {
  .card {
    max-width: 40rem;
  }
}
