.App {
  min-height: 100vh;
}

main {
  height: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}

.inputDark {
  background: white;
}

.inputWhite {
}

.userInfoWrapper {
  position: relative;
  top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

.userInfo {
  background: #6d67d0;
  max-width: 40rem;
  height: 30rem;

  backdrop-filter: blur(10px);

  border-radius: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.profile img:hover {
  cursor: pointer;
  animation: rotateImage 1s infinite alternate;
}

.profile img {
  box-sizing: initial;
  width: 10rem;
  border-radius: 50%;
  border: 2px solid #818183;

  outline: 3px solid #ffffff;
}

.profile a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

.profile a:hover {
  color: #363630c0;
  transition: 0.01s;
}

.profile span {
  color: #e7e6fb;
  font-size: 1.5rem;
}

.profile-details {
  background: #6d67d0;
  width: 20rem;
  height: 20rem;

  backdrop-filter: blur(10px);

  border-radius: 1rem;
  padding: 1.5rem;
}

.statistics {
  padding: 1.2rem;
  display: flex;
  gap: 0.8rem;
  color: #ffffff;
  display: flex;
}

.stats {
  flex: 1;
  padding: 1.2rem 1.6rem;
  background: rgba(161, 159, 221, 0.6);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stats:hover {
  cursor: pointer;
  background: rgba(74, 66, 224, 0.6);
}

.stats .info h5 {
  font-size: 1.2rem;
}
.App-link {
  color: #61dafb;
}

@keyframes rotateImage {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 425px) {
  .userInfoWrapper {
    grid-template-columns: 1fr;
  }
  .userInfo {
    height: 39rem;
  }

  .inputWrapper {
    padding-left: 45px;
  }

  .profile {
    gap: 0.5rem;
  }

  .statistics {
    flex-direction: column;
    padding-bottom: 0;
  }

  .stats {
    justify-content: space-evenly;
  }

  .userInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 1rem;
  }
}

@media screen and (min-width: 759px) {
  .userInfoWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (width >= 425px) and (width<= 758px) {
  .userInfoWrapper {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    top: 1rem;
  }
}
