* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  --background: #f2f2f2;
}

body {
  min-height: 100vh;
}

.theme-white {
  background: white;
  min-height: 100vh;
}

.theme-dark {
  background: black;
  min-height: 100vh;
}
